.cardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    bottom: 160px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 250px;
    border-radius: 0px 0px 8px 8px;
}