body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.logoFormula{
    width: 160px;
    display: flex;
    position: relative;
    top: 16px;
    left: 15px;
}


.buttonStart{
    position: absolute;
    width: 136px;
    height: 30px;
    background: none;
    border:2px solid transparent;
    border-radius: 80px;
    color: white;         /* #EE0000 */
    display: flex;
    align-self: start;
    margin-top: 12px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
}

.buttonStart:hover{
    font-size: 18.5px;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

hr {
position: relative;
top: -12px;
right: 720px;
width: 20px;
border: 0.5px solid #EE0000;
transform: rotate(90deg);
}

.buttons{
    background: none;
    color: #EE0000;
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    position: relative;
    left: -410px;
    margin-right: 40px;
    top: -36.9px;
}

.buttons:hover{
    color: #9c0000;
    transition: 0.3s;
}

.signButton{
    margin: 0 auto;
    background:none;
    border: none;
    color: #EE0000;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    bottom: 40px;
    left: 488px;
    margin-right: 30px;
    display: inline-block;
}


.container{
    height: 70px;
    margin: 0 auto;
    background-color: white;
    display: block;
}



